<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>Welcome to home page</h1>
			</div>
			<div class="well">
				<p><%= @greeting %></p>
			</div>
			<a href="/stock/" class="btn btn-outline-primary">Take to Stock page</a>
			<a href="/weather/" class="btn btn-outline-primary">Take to Weather page</a>
			<a href="/AmazonSearch/" class="btn btn-outline-primary">Take to Amazon scraper</a>
		</div>
	</body>
</html>