<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>Enter a search term for Amazon</h1>
			</div>
			
			<form action="/AmazonSearch" method="POST" class="form-inline">
				<div class="form-group">
					<input type="text" name="searchTerm" class="form-control">
				</div>
				<input type="submit" class="btn btn-outline-success">
				<a href="/" class="btn btn-outline-primary">Go to home page</a>
				<div class="well">
					<p><%= @searchResults %></p>
				</div>
			</form>
		</div>
	</body>
</html>

